body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1e3c72, #2a5298, #3a7bd5, #2a5298, #1e3c72);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.stopwatch {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.display {
    width: 150px;
    height: 150px;
    background-color: #222;
    color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 5px solid #56ccf2;
    transition: border-color 0.3s;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.btn {
    height: 50px;
    background-color: #2f80ed;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60px;
}

.btn:hover {
    background-color: #56ccf2;
}

.laps {
    list-style: none;
    padding: 0;
    margin: 0;
}

.laps li {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
